
<div class="w-full">
    <app-carouserl-products></app-carouserl-products>
    <div class="    h-full">
        <div class="flex flex-row w-full  h-full">
            <form class="w-3/12" (ngSubmit)="filterProductsFn()" [formGroup]="filtersForm">
                <lib-filter-list >
                    @for (item of filters; track $index) {
                        <lib-slider [formControlName]="item.formId!" [step]="item.step" [sliderOptions]="item"></lib-slider>
                    }
                    <button Srvbttn typeBttn="shadow" type="submit" >Filtrar</button>
                </lib-filter-list>
            </form>

            <div class="flex flex-col h-full w-full  gap-3  ">

                <form (ngSubmit)="search()" [formGroup]="filtersForm" class="px-7 py-16 w-1/2     h-12 grid grid-cols-12 sticky top-0 z-20">
                    <lib-input formControlName="name"  class="col-span-9 w-  h-6 relative -top-5">
                        <div srvPreffix class="w-10 flex items-center justify-center">
                            <mat-icon class="text-slate-400">search</mat-icon>
                        </div>
                    </lib-input>
                    <div class="col-span-3 flex flex-col items-center justify-center relative -top-5">
                        <button Srvbttn typeBttn="stroke"> 
                            <p>Perfil</p>
                            <mat-icon> person</mat-icon>    
                        </button>
                    </div>
                </form>

                <app-store-products></app-store-products>
            </div>
        </div>
    </div>
</div>