
<div class="w-full">
    <lib-header></lib-header>
    <div class=" w-full h-[500px]  bg-gradient-to-r bg-gray-dark  to-70% ">
        <lib-carousel>
        @for (product of products; track product) {
            <ng-template libItemCarousel>
                <lib-product-letter [product]="product">
            
                </lib-product-letter>
            </ng-template>
        }
        </lib-carousel>  
    </div>     
    <div class=" bg-white-low   ">
        <div class="flex flex-row   ">
            <lib-filter-list >
            </lib-filter-list>

            <div class="flex flex-col w-full  gap-6   ">
                <div class="px-7 py-16 bg-white-low shadow-bottom h-12 grid grid-cols-12 sticky top-0 z-20">
                    <lib-input  class="col-span-9 shadow-perso rounded-full h-2">
                        <div srvPreffix class="w-10 flex items-center justify-center">
                            <mat-icon>search</mat-icon>
                        </div>
                        <div srvSuffix class="w-28 cursor-pointer bg-black h-full  rounded-r-full flex items-center justify-center">
                            <mat-icon class="text-white scale-125">search</mat-icon>
                        </div>
                    </lib-input>
                    <div class="col-span-3 flex flex-col items-center justify-center">
                        <button class="py-3 px-3 border-solid border-2 border-black rounded-full  hover:bg-black/5 flex justify-center items-center gap-3"> 
                            <p>Perfil</p>
                            <mat-icon> person</mat-icon>    
                        </button>
                    </div>
                </div>

                <div class=" w-full pl-4 lg:pr-8"> <!-- //a -->
                    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2  gap-4 py-2">
                        @for (item of products; track $index) {
                            <lib-product-target [product]="item"></lib-product-target>
                        }
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>