.icon{
    height: fit-content !important;
    width: fit-content !important;
    transform:rotatex(180deg) rotateY(180deg); /* Gira el elemento 180 grados en el eje Y */

    &.iconTouched{
        transform:rotatex(0deg) rotateY(0deg); /* Gira el elemento 180 grados en el eje Y */
    }
}

.progress-bar{
    height: 40px !important;
    width: 40px !important;
}