
<div class="w-full">
    <lib-header></lib-header>
    <app-carouserl-products></app-carouserl-products>
    <div class=" bg-white-low   h-full">
        <div class="flex flex-row w-full  h-full">
            <lib-filter-list >
                @for (item of filters; track $index) {
                    <lib-slider  (emitRange)="filterFn($event)" [step]="item.step" [sliderOptions]="item"></lib-slider>
                }
                <button Srvbttn typeBttn="shadow" (click)="filterProductsFn()">Filtrar</button>
            </lib-filter-list>

            <div class="flex flex-col h-full w-full  gap-3  ">
                <div class="px-7 py-16   bg-white-low shadow-bottom h-12 grid grid-cols-12 sticky top-0 z-20">
                    <lib-input  class="col-span-9 shadow-perso rounded-full h-6 relative -top-5">
                        <div srvPreffix class="w-10 flex items-center justify-center">
                            <mat-icon>search</mat-icon>
                        </div>
                        <button srvSuffix class="w-28 cursor-pointer bg-black h-full  rounded-r-full flex items-center justify-center">
                            <mat-icon  class="text-white scale-125">search</mat-icon>
                        </button>
                    </lib-input>
                    <div class="col-span-3 flex flex-col items-center justify-center relative -top-5">
                        <button Srvbttn typeBttn="stroke"> 
                            <p>Perfil</p>
                            <mat-icon> person</mat-icon>    
                        </button>
                    </div>
                </div>         
                <div class="relative">
                    @if (filterProducts.length > 0 ) {
                        <div  class=" w-full pl-4 lg:pr-8"> 
                            <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2  gap-4 py-2">
                                @for (item of filterProducts; track $index) {
                                    <lib-product-target [product]="item"></lib-product-target>
                                }
                            </div>
                        </div>
                    }@else if(filterProducts.length == 0 && load){
                        <div class="w-full pt-32 flex items-center justify-center">
                            <lib-no-find-products></lib-no-find-products>
                        </div>
                    }
                    @if (!load ) {
                        <div class="w-full pt-32 flex items-center justify-center absolute -top-[1rem] bg-black/5 h-[84vh] ">
                            <div class="absolute top-44">
                                <lib-loading></lib-loading>
                            </div>
                        </div>
                    }
                </div>      

             
            </div>
        </div>
    </div>
</div>